<section class="recipe">
<div class="addrend">
    <div class="addrecipe">
      <%= link_to "Add Recipe", new_recipe_path %>
    </div>
    </div>
    <ul class="recipee">
      <% @recipes.each do |recipe| %>
        <li class="recipecard">
          <div class="card">
            <%= link_to recipe.name, recipe_path(recipe) %>
            <%= button_to "Remove", recipe_path(recipe.id), method: :delete%>
          </div>
          <div>
            <%= truncate(recipe.description, length: 100) %>
          </div>
        </li>
      <% end %>
    </ul>
</section>
