.shoppinglist {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.food-container {
    width: 100%;
    height: 100%;

}

.foodbutton {
    display: flex;
    align-self: flex-end;
    background-color: aliceblue;
    color: black;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.foodtable {
 display: flex;
 justify-content: center;
}

.signincontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.signin {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(206, 201, 201);
    border-radius: 10px;
    background-color: rgb(189, 15, 15);
}

.signin h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger;
    color: rgb(206, 201, 201);
}

.signinemail {
    color: rgb(236, 231, 231);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  width: 100%;
  padding: 0 0 15px 0;
}

.siginpass {
    color: rgb(236, 231, 231);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium; 
  padding: 0 0 15px 0;
}

.remembersigin {
    color: rgb(236, 231, 231);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium; 
    padding: 0 0 10px 0;
}

button {
    width: 100%;
    color: white;
    background-color: rgb(43, 41, 41);
    padding: 7px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navbar h1 {
   color: rgb(43, 41, 41);
   font-size: x-large;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar li {
    color: rgb(43, 41, 41);
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  a:link {
    color: #c7aa29;
  }
  
  a:visited {
    color: #213ec0;
  }
  
  a:hover {
    color: #b31c1c;
  }
  
  a:active {
    color: #333;
  }
  
  nav a:hover {
    color: #000;
  }
  
  .recipe {
    width: 100%;
    height: 100%;

  }

  .addrecipe {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

.recipecard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(189, 15, 15) ;
    width: 100%;
    height: 90px;
    border-radius: 6px;
    color: rgb(236, 231, 231);
    margin-top: 10px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipedetail {
    
}